body {
  font-family: arial,sans-serif;
  background: #fff; 
}

.top-bar {
  overflow: hidden;
  padding-right: 0.5em;
  height: 40px;
}

.top-bar-text {
  height: 80%; 
  width: 100%;
  font: 16px arial,sans-serif;
}

.top-bar-text:focus {
  outline: none;
}

.top-bar-button {
  float: right;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.top-bar-button:hover {
  background-color: lightgray
}

.page {
  margin: 2em auto;
  width: 50em;
  padding: 1em;
  background: white;
}
                  
.paragraph {
  background: #fdfdfd;
  padding: 1em;
  border: 1px solid #d9d9d9;
  font-size: 1em;
  font-family: arial,sans-serif;
  margin-top: 10px;
  text-align: justify
}

.error {
  background: #f0d6d6; 
  padding: 0.5em;
}

.dropdowns {
  margin-top: 10px;
  margin-bottom: 70px;
}

.dropdown-button {
  background-color: #fdfdfd;
  color: grey;
  font-size: 14px;
  border: none;
}

.paragraph window {
  background-color: yellow
}

.paragraph answer {
  border: 1px solid grey;
  background-color: yellowgreen
}

.result-pages {
  color: grey;
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

.result-pages a {
  color: #4285f4;
}